name: Frontend CI

on:
  push:
    branches: ["main"]

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
    
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Build Docker Image
      working-directory: ./frontend
      run: docker build -t leave-frontend .
